  /*INICIO FILEROWS*/
  .files-container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 10px;
    margin: 10vh auto;
    min-height: 60vh;
    transform: scale(0.9);
    background-color: #313131d2;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  }
  /*FIN FILEROWS*/

  /*INICIO FILEROW*/  
  .file-container {
    display: flex;
    padding: 20px;
    min-width: 60%;
    border-radius: 10px;
    margin: 10vh auto;
    align-items: center;
    align-content: center;
    background-color: #3f3e3ed2;
    color: rgb(241, 241, 241);
    box-shadow: rgba(150, 150, 150, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  }
  /*FIN FILEROW*/