/* .meeting-content {
    margin-top: 5vh;
} */

.meeting-container {
    height: 90vh;
    font-family: "Major Mono Display", monospace;
}

.meetings__users-content {
    display: flex;
    border-radius: 10px;
    margin: 10vh auto;
    min-height: 83vh;
    max-height: 90vh;
    transform: scale(0.9);
    background-color: #313131d2;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
        rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
        rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.meetings-users {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #dfdfdffb;
    padding-top: 2vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    color: #000000;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
        rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
        rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.meetings__user-title h1 {
    font-weight: 600;
    color: black;
}

.user-rows {
    max-height: 70vh;
    overflow-y: auto;  
    overflow-x: hidden;
    clip-path: inset(0 round 8px); 
}

.meeting-box {
    display: flex;
    flex-direction: column;
    
}

.box__meetings-title {
    text-align: center;
    height: 15vh;
}

.box__meetings-title h1 {
    font-weight: 600;
    color: #dfdfdffb;
    padding-top: 2vh;
}

.meetings-select {
    display: flex;
    justify-content: space-evenly;
    height: 60vh;
    margin-bottom: 25px;
}

.meetings-select__options {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3a3a3a;
    color: #dfdfdffb;
    border-radius: 10px;
    border: 3px solid rgb(148, 104, 165);
    padding: 10px;
}

.meetings-select__options p {
    color: black;
    display: flex;             
    justify-content: center;   
    align-items: center;
    text-align: center;
    background-color: rgb(221, 221, 221);
    border-radius: 5px;
    height: 50%;
    padding: 10px 20px;
    margin: 3vh 5vh;
}

.meetings-select__button {  
    margin: auto; 
    font-size: 22px;
    border-radius: 10px;
    background-color: rgb(141, 54, 175);
}

.box__meetings-back{
    padding: 20px;
    display: flex;
}

.meetings-back__button {  
    margin: auto; 
    font-size: 22px;
    border-radius: 10px;
    background-color: rgb(141, 54, 175);
    padding: 3px 80px;
}
