.user-row {
    display: flex;
    font-family: 'Baloo 2 Variable', system-ui;
    font-weight: 600;
    box-shadow: rgba(105, 105, 105, 0.678) 0px 2px 10px 0px;
    font-size:16px;
    transform: scale(0.9);
    margin: 20px;
    transition: 0.3s ease;
    border-radius: 10px;
}

.user-row:hover {
    box-shadow: rgba(43, 43, 44, 0.3) 0px 0px 0px 0px;
}

.user-profile {
    background-color: rgb(226, 226, 226);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 10px 10px;
}

.user-profile img{
    max-width: 50px;
    max-height: 50px;
}

.user-specs-button {
    display: flex;
    justify-content: center;
    color: black;    
    border: 2px solid rgba(137, 43, 226, 0);
    transition: 0.5s;
}

.currentRole{
    background-color: rgb(197,197,197);
}

.selectRole {
    border-bottom-left-radius: 5px;
    background-color: rgb(92, 202, 116);
}

.delete {
    border-bottom-right-radius: 5px;
    background-color: rgba(63, 62, 62, 0.824);
    color: rgb(155, 142, 142);
}

.user-specs-button:hover {
    border: 2px solid blueviolet;
    cursor: pointer;
}